<p id="notice"><%= notice %></p>

<h1>Tripulantes</h1>
<div class="new-button"><a><h5><%= link_to 'Novo Tripulante', new_user_path %></h5></a></div>
<br>
<br>
<br>
  <% @users.each do |user| %>
  <div class="container">
    <h2><%= user.name %></h2>
    <br />
    <%= user.admin %>
    <br />
    <div class="action-item"><a><h5><%= link_to 'Show', user %></h5></a></div>
    <div class="action-item"><a><h5><%= link_to 'Edit', edit_user_path(user) %></h5></a></div>
    <div class="action-item"><a><h5><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></h5></a></div>
  </div>
  <% end %>
<br>


