<p id="notice"><%= notice %></p>

<%= image_tag(@user.avatar.thumb) if @user.avatar %>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<strong>Projetos participados</strong>
<br>
<% @project_users.each do |project_user| %>
  <%= project_user.project.nome %>

<br><br>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
