<p id="notice"><%= notice %></p>

<h1>Eventos</h1>
    <div class="new-button"><a><h5><%= link_to 'Novo Evento', new_evento_path %></h5></a></div>
  <br /><br />

  <% @eventos.each do |evento| %>
  <div class="container">
    <h2><%= evento.evento %></h2>
    <h4><%= evento.data %> às <%= evento.horario %> horas</h4>
    <div class="action-item"><a><h5><%= link_to 'Mostrar', evento %></h5></a></div>
    <%if current_user.admin?%>
    <div class="action-item"><a><h5><%= link_to 'Editar', edit_evento_path(evento) %></h5></a></div>
    <div class="action-item"><a><h5><%= link_to 'Excluir', evento, method: :delete, data: { confirm: 'Are you sure?' } %></h5></a></div>
    <% end %>
  </div>
  <% end %>

