<p id="notice"><%= notice %></p>

<h1>Eventos</h1>
    <div class="new-button"><a><h5><%= link_to 'Novo Evento', new_evento_path %></h5></a></div>
  <br><br><br>

<table>
  <thead>
      <tr>      
        <th><h4><b>Post</b></h4></th>
        <th><h4><b>Data</b></h4></th>
        <th><h4><b>Horário</b></h4></th>
        <th><h4></h4></th>
        <th><h4></h4></th>
        <th><h4></h4></th>
      </tr>
    </div>
  </thead>     
  <tbody>
    <% @eventos.each do |evento| %>
    <tr>
      <td><h4><%= evento.evento %></h4></td>
      <td><h4><%= evento.data %></h4></td>
      <td><h4><%= evento.horario %> horas</h4></td>
      <td><div class="action-item"><a><h5><%= link_to 'Mostrar', evento %></h5></a></div></td>
      <td>
      <%if current_user.admin?%>
      <div class="action-item"><a><h5><%= link_to 'Editar', edit_evento_path(evento) %></h5></a></div></td>
      <td>
        <div class="action-item"><a><h5><%= link_to 'Excluir', evento, method: :delete, data: { confirm: 'Are you sure?' } %></h5></a></div>
      </td>
   <% end %>
   </tr> 
  </div>
  <% end %>
  </tbody>
</table>
