<p id="notice"><%= notice %></p>

<div>
    <!-- <strong>Evento:</strong> -->
    <h4><%= @evento.evento %></h4>
    Postado: <%= @evento.data %> às <%= @evento.horario %>
    
</div>

<div class="action-item"><a><h5><%= link_to 'Editar', edit_evento_path(@evento) %></h5></a></div>
<div class="action-item"><a><h5><%= link_to 'Voltar', eventos_path %></h5></a></div>
