<p id="notice"><%= notice %></p>

<p>
  <strong>Check:</strong>
  <%= @sprint.check %>
</p>

<p>
  <strong>Tarefa:</strong>
  <%= @sprint.tarefa %>
</p>

<p>
  <strong>Project:</strong>
  <%= @sprint.project %>
</p>

<div class="action-item"><a><h5><%= link_to 'Editar', edit_sprint_path(@sprint) %></h5></a></div>
<div class="action-item"><a><h5><%= link_to 'Voltar', sprints_path %></h5></a></div>
