<h1>
  Linha do tempo dos projetos
</h1>

<% @timeline.each do |project| %>
<div class="faixa">
  <h4>
  <div class="faixa-item">
    <%= project.data_inicio %>
  </div>
  <div class="faixa-item">
    <%= project.nome %>
  </div>
  <div class="faixa-item">
    <%= project.valor %>
  </div>
  <div class="faixa-item">
    <div class="action-item"><a><%= link_to 'Show', project %></a></div>
  </div>
  </h4>
</div>

<br>
<% end %>
<br>
<%= link_to 'Voltar', home_index_path	 %> 