<%= form_for(cashier) do |f| %>
  <% if cashier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashier.errors.count, "error") %> prohibited this cashier from being saved:</h2>

      <ul>
      <% cashier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :categoria %>
    <%= f.text_field :categoria %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :data %>
    <%= f.date_select :data %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
