<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cashier.nome %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @cashier.categoria %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cashier.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @cashier.data %>
</p>

<div class="action-item"><a><h5><%= link_to 'Edit', edit_cashier_path(@cashier) %> </h5></a></div>
<div class="action-item"><a><h5><%= link_to 'Back', cashiers_path %></h5></a></div>

