<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cashier.nome %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @cashier.categoria %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @cashier.valor %>
</p>

<p>
  <strong>Data:</strong>
  <%= @cashier.data %>
</p>

<%= link_to 'Edit', edit_cashier_path(@cashier) %> |
<%= link_to 'Back', cashiers_path %>

