<p id="notice"><%= notice %></p>

<p>
  <strong>Projects:</strong>
  <%= @project_user.projects %>
</p>

<p>
  <strong>Users:</strong>
  <%= @project_user.users %>
</p>

<%= link_to 'Edit', edit_project_user_path(@project_user) %> |
<%= link_to 'Back', project_users_path %>
